body {
	background-color: beige;
} 

nav li {
	display: inline;
	padding-right: 10px;
}

nav {
	background-color:transparent;
	padding: 20px 0;    
	text-align: right;
	display: flex;
	justify-content: space-between;
	font-family: cursive;
}

nav a {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

.current {
	text-decoration: underline;
	color:darkblue;
}


h1 {
	font-family:'Times New Roman', Times, serif;
    text-align: center;
	font-size: 30px; 
	font-weight: bold;
}

h2{
	font-size: 32px;
	line-height: 1.5;
	font-weight: bold;
}

.twentyone {
	font-size: 15px;
	line-height:1.5;
	text-align: center;
}

.twentytwenty {
	font-size: 15px;
	line-height:1.5;
	text-align: center;
}

.twentynineteen {
	font-size: 15px;
	line-height:1.5;
	text-align: center;
}

.resumeimage img{
	/* filter:blur(0.5px); */
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.resumeimage img:hover {
	transform: scale(2);
}

.social img{
	width: 100px;
	height: 100px;
	left: 188px;
	top: 195px;
	border-radius: 20px; 
}

.social {
	display:flex;
	justify-content: space-around;
}

.socialLink {
	display:flex;
	justify-content: space-around;
}

.navigation {
	display: inline;
	font-weight: bold;
	font-size: 20px;
	padding-left: 10px;
	font-family: cursive;
}

.contacttext {
	display:inline-block;
}

#main{
	background-attachment: fixed; 
    background-position: absolute; 
    background-size: cover; 
    background-repeat: no-repeat;
}



#profile {
	width:50%;
	padding:15px;
	display:flex;
	margin:auto;
	
}

.intro {
	padding: 20px;
}

#bio {
	text-align: center;
	font-size: 20px;
}

#nineintro {
	text-align: center;
	font-size: 20px;
}

#welcome {
	text-align: center;
	padding: 30px;
	padding-top:80px;
}


.container {
	display:grid;
	grid-template-columns: 1fr;
	width:100%;
}


footer{
	bottom:0;
	width:100%;
	color: black;
	padding-top: 10px;
	text-align: center;
}

#balloon1 {
	width:70%;
	padding:15px;
	display:flex;
	margin:auto;
}

.button {
	/* color: white; */
	padding: 15px 25px;
	text-decoration: none;
	text-align: center;
	font-size: 30px;
	font-family:sans-serif;
}


input[type=text], select, textarea {
	width: 100%; 
	padding: 12px; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical;
  }
  
input[type=submit] {
	background-color: #E7D2CC;
	color:black;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
  
input[type=submit]:hover {
	background-color: #a77668;
}
  

.form {
	/* display:flex; */
	border-radius: 5px;
	background-color: #ddfae9;
	padding: 20px;
	width:60%;
	margin:auto;
	/* justify-content: center; */
}

.skip a{
	background: white;
	left: 0;
	padding: 6px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
	position:absolute;
	top: -40px;
	}
	
.skip a:focus{
	position:static;
}


@media screen and (min-width: 850px) {

	#profile {
		width:20%;
		padding:15px;
		display:flex;
		margin:auto;
	}

	#bio {
		font-size: 25px;
	}

	.intro{
		padding: 20px;
		width:60%;
		margin: auto;
		font-size: 18px;
	}

	#nameintro {
		font-size: 40px;
	}

	.container {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
	}


	.twentyone {
		/* display:flex;
		justify-content: flex-start; */
		/* position:absolute; */
		left:50px;
		font-size: 15px;
		line-height:1.5;
	}
	
	.twentytwenty {
		/* display:flex;
		justify-content: flex-start; */
		/* position:absolute; */
		left:50px;
		font-size: 15px;
		line-height:1.5;
	}
	
	.twentynineteen {
		/* display:flex;
		justify-content: flex-start; */
		/* position:absolute; */
		left:50px;
		font-size: 15px;
		line-height:1.5;
	}

	.resume {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .resumeimage {
        flex-basis: 25%;
    }

    .resumeText {
        font-size: 18px;
    }


	#balloon1 {
		width:20%;
		padding:15px;
		margin:auto;
	}

}
